.main-container {
	margin-top: 40px;
}

.jumbotron {
	background-color: #99cc99;
}

.btn-home {
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  position: relative;
  background-color: white;
  font-size: 16px;
  font-weight: 300px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 25px 80px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 6px #CCCCCC;
}

.btn-survey {
	background-color: #99cc99;
}

.btn-survey:active,
.btn-survey:hover,
.btn-survey:focus {
  background-color: #99cc99 !important;
}

.white-text {
	color: white;
}

.btn-home:hover {
  box-shadow: 0 4px #CCCCCC;
  top: 2px;
}

.btn-home:active {
  box-shadow: none;
  top: 6px;
}

#match-img {
  max-height: 400px;
}